.topic{
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.expenses {
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center; 
    background-color: rgb(190 190 190 / 38%);

    color: black;
    align-items: center;
    border-radius: 55px;
    -webkit-box-shadow: 0px 13px 53px -2px rgb(0 0 0 / 41%);
    -moz-box-shadow: 0px 13px 53px -2px rgb(0 0 0 / 41%);
    box-shadow: 0px 13px 53px -2px rgb(0, 0, 0);
}

.mar{
    display: flex;
    justify-content: center;
}

.btns{
    width: 100px;
}

.btn-success .btn-danger{
    width: 140px;
}

.me{
    margin-left: 50px;
}

.mr{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w1{
    width: 400px !important;;
    margin-top: 15px;
    height: 20px;
}

.bt{
    width:150px;
}

.modals{
    background-color:#aaaaaa;
   
}

.modal-content {
    background-color: #ffffff!important;
    border-radius: 30px;
    -webkit-box-shadow: 0px 13px 53px -2px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 13px 53px -2px rgba(0,0,0,0.53);
    box-shadow: 0px 13px 53px -2px rgb(0, 0, 0);
}