*{
    box-sizing: border-box;
}


body{
    background-size: cover;
    overflow-x: hidden;
    color: rgb(0, 0, 0);
    font-style: italic;
    height: 1035px;
    background-color:#aaaaaa;
}

html {
    height: 100%;
}